@import '../styles/theme.scss';

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.site-layout-background {
  background: #fff;
}

.layout {
  height: 100%;

  &-sider {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* firefox */

    // 去除滚动条
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }

    aside.ant-layout-sider {
      height: 100%;

      ul.ant-menu {
        background-color: $menu-bg-color;
      }

      .ant-layout-sider-trigger {
        height: $menu-trigger-height;
        background-color: $menu-trigger-bg-color;
      }
    }
  }

  &-content {
    min-height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $content-bg-color;

    &-container {
      padding: 0 $h_spacing;
      display: flex;
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-width: none; /* firefox */

      // 去除滚动条
      -ms-overflow-style: none; /* IE 10+ */
      flex-direction: row;
      &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
      }

      &-pageContent {
        width: 100%;
        padding: 20px 0;
        height: 800px;
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-right: 5px;

        .ant-breadcrumb {
          font-size: 20px;
          padding-bottom: 20px;
        }
      }

      &-affix {
        margin-top: 100px;
        margin-left: 24px;
        min-width: 150px;
        max-width: 200px;
      }
    }
  }
}

.drawer-left .drawer-handle {
  width: $handle-size;
  height: $handle-size;
  line-height: $handle-size;
  text-align: center;
  background: $handle-bg;
  border: $handle-border-width solid $handle-border-color;
  border-radius: $handle-border-radius !important;
  position: fixed;
  top: auto;
  bottom: $handle-bottom;
  right: $handle-right !important;
}

@media only screen and (max-width: $min-screen) {
  .layout {
    &-content {
      &-container {
        position: relative;
        padding-top: $content-container-padding-top;

        &-affix {
          max-width: none;
          position: fixed;
          top: $header-height;
          left: 0;
          right: 0;
          margin: 0;
        }
      }
    }
  }
}
