@import '../../styles/theme.scss';


.ant-layout .ant-anchor-wrapper {
  max-width: $slug-max-width;
  padding-left: 0px;
  padding: $slug-padding-vertical $slug-padding-horizontal;
  border-radius: $slug-border-radius;
  background-color: $slug-bg-color;

  .ant-anchor-ink, .ant-anchor-ink-ball {
    display: none;
  }

  .ant-anchor-link {
    padding-left: 0;

    &>a:hover {
      color: $brand-color;
    }
  }

  .ant-anchor-link-active > .ant-anchor-link-title {
    color: $brand-color;
  }
}

@media only screen and (max-width: $min-screen) {
  .ant-layout .ant-anchor-wrapper {
    width: 100%;
    max-width: none;
    padding: 4px 7px;
    border-radius: 0;
    margin: 0;

    // 去除滚动条
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }

    .ant-anchor {
      display: flex;
      flex-direction: row;

      .ant-anchor-link {
        padding: 8px
      }
    }
  }
}

