@import '../../styles/theme.scss';


.ant-layout .ant-anchor-wrapper {
  max-width: $slug-max-width;
  padding-left: 0px;
  padding: $slug-padding-vertical $slug-padding-horizontal;
  border-radius: $slug-border-radius;
  background-color: $slug-bg-color;

  .ant-anchor-ink, .ant-anchor-ink-ball {
    display: none;
  }

  .ant-anchor-link {
    padding-left: 0;

    &>a:hover {
      color: $brand-color;
    }
  }

  .ant-anchor-link-active > .ant-anchor-link-title {
    color: $brand-color;
  }
}

