@import '../../styles/theme.scss';

.ant-menu {
  .ant-menu-submenu-selected {
    color: $menu-submenu-selected-color;
  }

  .ant-menu-submenu {
    .ant-menu-submenu-title {
      display: flex;
      align-items: center;
    }

    &-open, &-active {
      &>.ant-menu-submenu-title {
        color: $menu-submenu-open-color;

        &:active {
          background-color: $menu-item-selected-bg-color;
        }

        .ant-menu-submenu-arrow {
          color: $menu-submenu-arrow-color !important;
        }
      }
    }
  }

  .ant-menu-item {
    display: flex;
    align-items: center;

    &:active {
      background-color: $menu-item-selected-bg-color;
    }

    &-selected {
      background-color: $menu-item-selected-bg-color !important;

      &::after {
        border-right-color: $menu-item-selected-right-color !important;
      }
    }

    &-selected, &-active {
      &>span, a {
        color: $menu-item-selected-color !important;
      }
    }
  }
}
