@import '../../styles/theme.scss';

.ant-menu {
  .ant-menu-submenu-selected {
    color: $menu-submenu-selected-color !important;
  }

  // 自定义 submenu 的 icon 时需覆盖菜单折叠下的样式
  .ant-menu-submenu.first-submenu.ant-menu-submenu-vertical {
    .ant-menu-title-content {
      opacity: 0;
    }
  }

  .ant-menu-submenu {
    .ant-menu-submenu-title {
      display: flex;
      align-items: center;
    }

    &-open, &-active {
      &>.ant-menu-submenu-title {
        color: $menu-submenu-open-color !important;

        &:active {
          background-color: $menu-item-selected-bg-color;
        }

        .ant-menu-submenu-arrow {
          color: $menu-submenu-arrow-color !important;
        }

      }
    }
  }

  .ant-menu-item {
    display: flex;
    align-items: center;

    &:active {
      background-color: $menu-item-selected-bg-color;
    }

    &-selected {
      background-color: $menu-item-selected-bg-color !important;

      &::after {
        border-right-color: $menu-item-selected-right-color !important;
      }
    }

    &-selected, &-active {
      &>span, a {
        color: $menu-item-selected-color !important;
      }
    }
  }
}
