@import '../../styles/theme.scss';

.home {
  overflow-y: auto;
  padding: 0 $h_spacing;
  background-color: $white;

  &-container {
    max-width: 960px;
    margin: 0 auto;
  }

  &-hero {
    padding: 150px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F201802%2F04%2F20180204163427_toecn.thumb.1000_0.jpeg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1637756333&t=54dff64025f12f0bd3ae03a913e60f2c");
    background-size: 100% 100%;

    &-title {
      text-align: center;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      color: #080e29;
    }

    a {
      padding: 0 32px;
      height: 44px;
      line-height: 44px;
      background-color: $brand-color;
      border-radius: 22px;
      display: inline-block;
      color: $white;
      font-size: 16px;
    }

    p {
      margin: 0;
      color: #717484;
      text-align: center;
    }
  }

  &-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .feature-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.3%;
      padding: $h_spacing;

      &>img {
        width: 50px;
      }

      &-title {
        margin: $v-spacing 0;
        font-size: 20px;
        color: #454d64;

      }

      p {
        margin: 0;
        color: #717484;
        text-align: center;
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-item {
    width: 25%;
    padding: 15px;
    border-radius: $radius-m;

    &:hover {
      background-color: $brand-bg-color;

      .card-item-title {
        color: $brand-color;
      }
    }

    a>img {
      width: 100%;
      border-radius: $radius-m;
    }

    &-top {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 98px;
      border-radius: $radius-m;
      background-image: url('https://th.wallhaven.cc/lg/z8/z8dg9y.jpg');
      background-size: 100% 100%;

      &>img {
        width: 50px;
        border-radius: $radius-m;
      }
    }

    &-title {
      padding-top: 15px;
      text-align: center;
      color:rgba(0, 0, 0, 0.8);
      font-size: 18px;
    }
  }
}

@include responsive($min-screen) {
  .home {
    &-hero {
      padding: 100px 0;
    }
  }

  .card {
    &-item {
      &-top {
        height: 150px;
      }
    }
  }
}


@include responsive($mobile-device) {
  .home {
    &-hero {
      padding: 24px 0;

      &-title {
        font-size: 28px;
      }

      a {
        padding: 0 20px;
        height: 32px;
        line-height: 32px;
        font-size: 13px;
      }

      .markdown {
        padding-bottom: 20px;

        p {
          font-size: 12px;
        }
      }
    }

    &-features {
      display: flex;
      flex-direction: column;
      padding: 12px 0;

      .feature-item {
        width: 100%;
        padding: 12px 0;

        .markdown {
          padding-bottom: 0;
        }
      }
    }
  }
}
